
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
  }
  
  .calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    padding: 10px;
    background-color: #f6b8b8;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(237, 219, 219, 0.2);
  }
  
  .calculator input {
    grid-column: span 4;
    height: 50px;
    font-size: 24px;
    text-align: right;
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #555;
    color: #fff;
  }
  
  .calculator button {
    height: 50px;
    font-size: 24px;
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    color: #333;
  }
  
  .calculator button:hover {
    background-color: #eee;
  }
  
  .calculator button.operator {
    background-color: #f39c12;
    color: #fff;
  }
  
  .calculator button.operator:hover {
    background-color: #e67e22;
  }
  
  .calculator button.clear {
    background-color: #c0392b;
    color: #fff;
  }
  
  .calculator button.clear:hover {
    background-color: #a93226;
  }
  
  .calculator button.delete {
    background-color: #2980b9;
    color: #fff;
  }
  
  .calculator button.delete:hover {
    background-color: #1f618d;
  }
  
  .calculator button.equal {
    grid-column: span 2;
    background-color: #2ecc71;
    color: #fff;
  }
  
  .calculator button.equal:hover {
    background-color: #27ae60;
  }
  
  .calculator button.dot {
    background-color: #95a5a6;
    color: #fff;
  }
  
  .calculator button.dot:hover {
    background-color: #7f8c8d;
  }
  